body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 600; }

a, a:hover, a:focus { color: #9b59b6; text-decoration: none; transition: all .3s; }

h1, h2 {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
    font-weight: 300;
    line-height: 50px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

img { max-width: 100%; }

/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}



/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #ccc;
}


/***** Top menu *****/

.navbar {
	background: #444;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
}
.navbar.navbar-no-bg { background: #444; background: rgba(0, 0, 0, 0.2); }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

.navbar-brand {
	width: 136px;
	background: url(../img/logo.png) left center no-repeat;
	border: 0;
	text-indent: -99999px;
}
/* About */
.About {
    padding: 10%;
}
/* Contact */
.contact-container {
    background-color: rgb(99, 97, 97);
    color: #fff;
}
/***** Footer *****/

footer {
	padding: 40px 0 0 0;
	background: #444;
	color: #aaa;
	text-align: left;
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #aaa;
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }
